.calculator {
    text-align: center;
}

.calculator-screen {
    font-size: 36px !important;
    background: #252525 !important;
    color: white !important;
}

.calculator-keys {
    width: 100%;
}

.row {
    display: flex;
    margin: 0 0 !important;
}

button {
    width: 25%;
}

.btn {
    background-color: gray !important;
    border: 1px solid black !important;
    outline: none !important;
    font-size: 32px !important;
    height: 80px;
    color: white !important;
}

.btn:hover {
    background: darkgray !important;
}

.all-clear, .zero-btn {
    width: 50%;
}

.operator, .equal-sign {
    background: orange !important;
}

.operator:hover, .equal-sign:hover {
    background: darkorange !important;
}